<div class="card mb-3 p-3">
  <p><%= @question%></p>
  <p><em>--You</em></p>
</div>

<div id="answer_card" class="card mb-3 p-3">
  <p><strong><%= @question_answer%></strong></p>
    <p><em>--Your coach</em></p>
</div>

<%= link_to "Ask a new question", root_path, class: "link" %>
